.tiger{
    
 float: left;
  width: 30%;
  padding: 5px;
  padding-right: 30px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    /* box-sizing: border-box; */
    background-color: crimson;
  }

.header{
    font-size: 60px;
    background-color: gray;
    height: 20px;


}
img {
  width: 280px;
  height: 280px;
  background-color: gray;

}

.header-container{
    background-color: gray;
    
    
    
}
