.NavBarParent{
    display: flex;
    font: bold;
    font-size: 40px;
    color: black;
    
}
.NavList{
    display: flex;

    position: absolute !important;
        left: 50%;
        right: 0%;
        color: black;
        
       
    
}
.NavList li {
list-style-type:none;
float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
    
}
